	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/09/2020 18:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /* font-size: 20px; */
font-style: normal;
}

.flaticon-circle:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }