* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
p{
	line-height: 1.6em;
	font-family: 'product_sansregular';
	color: #8e8e8e;
	font-size: 22px;
}
a{
	font-size: 22px;
}
a,h4,h5,span,label{
	font-family: 'product_sansregular';
}
h1{
	font-family: 'product_sansbold';
}
br.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
/* .wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
} */

@font-face {
    font-family: 'product_sansregular';
    src: url('../fonts/') format('woff2'),
         url('../fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'product_sansbold';
    src: url('../fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header section.wrapper h1.left a{
	display: inline-block;
}
header section.wrapper h1.left a img{
	display: block;
	width: 100%;
}
header{
	height: 130px;	
	align-items: center;
	display: flex;	
}
header section.wrapper{
	width: 90%;
    max-width: 1390px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section.wrapper nav.right{
	display: flex;
	justify-content: space-between;
	
}
header section.wrapper nav.right ul{
	display: flex;
}
header section.wrapper nav.right ul li{
	margin-right: 35px;
}
header section.wrapper nav.right ul li:last-child{
	margin-right: 0;
}
header section.wrapper nav.right ul li a{
	font-family: 'product_sansregular';
    color: #515151;
    text-transform: capitalize;
    font-size: 28px;
}
header section.wrapper nav.right ul li a.button{
	background-color: rgb(85, 154, 213);
    padding: 17px 39px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    display: inline;
    font-size: 20px;
}
#home{
	background: url('../images/home.jpg') no-repeat center center;
	background-size: cover;
}
#home div.overlay{
	background: rgb(0 0 0 / 54%);
	padding: 279px 0;
}
#home div.overlay section.wrapper{
	width: 90%;
    max-width: 1390px;
    margin: 0 auto;
}
#home div.overlay section.wrapper div.content{
	max-width: 655px;
}
#home div.overlay section.wrapper div.content h1{
	color: #ffffff;
	font-size: 60px;
	text-transform: capitalize;
}
#home div.overlay section.wrapper div.content p{
	color: #ffffff;
	margin: 20px 0 30px 0;
}
#home div.overlay section.wrapper div.content a.button{
    display: inline-block;
    padding: 20px 56px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #559ad5;
	font-size: 25px;
	text-transform: capitalize;	
}
#services{
}
#services section.wrapper{
	margin: 0 auto;
}
#services section.wrapper ul{
	display: flex;
    flex-wrap: wrap;
    height: 120px;
	align-items: center;
	box-shadow: -2px 33px 55px -29px rgba(160,209,250,1);
	justify-content: space-between;
	padding-left: 100px;
}
#services section.wrapper ul li{
	border-right: 1px solid #dedede;
	width: 17%;
	
}
#services section.wrapper ul li:last-child{
	border-right: none;

}
#services section.wrapper ul li a {
	display: flex;
	align-items: center;
}
#services section.wrapper ul li a span{
	background-image: linear-gradient(to right, #2772ef, #1b51a9);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#services section.wrapper ul li a span img{
	display: block;
	width: 100%;
}
#services section.wrapper ul li a h4{
	font-size: 28px;
    text-transform: capitalize;
    margin-left: 12px;
    color: #2c5372;
    text-align: center;
    line-height: 25px;
}
#income{
	padding-top: 100px;
}
#income section.wrapper{
	display: flex;
	justify-content: space-between;
	width: 90%;
	max-width: 1560px;
	margin: 0 auto;
	align-items: center;
}
#income section.wrapper div.left{
	width: 50%;
}
#income section.wrapper div.left h1 {
	color: #17588e;
	font-size: 60px;
	text-transform: capitalize;
}
#income section.wrapper div.left h1 span{
}
#income section.wrapper div.left p{
    margin: 46px 0;
}
#income section.wrapper div.left div.bottom{
	display: flex;
	align-items: center;
}
#income section.wrapper div.left div.bottom span{
	border: 2px solid #817eab;
    height: 15px;
    width: 15px;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#income section.wrapper div.left div.bottom span.round i{
	color: #17588e;
}
#income section.wrapper div.left div.bottom h5{
	margin-left: 10px;
    text-transform: capitalize;
	font-size: 23px;
	color: #8e8e8e;
}
#income section.wrapper div.right{
	margin-left: 70px;
}
#income section.wrapper div.right img{
	width: 100%;
	display: block;
}
#offers{
	padding-top: 100px;
}
#offers section.wrapper{
	width: 90%;
    max-width: 1390px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#offers section.wrapper div.left{
	margin-right: 70px;
}
#offers section.wrapper div.left img{
	display: block;
	width: 100%;
}
#offers section.wrapper div.right{
	width: 50%;
	text-align: right;
}
#offers section.wrapper div.right h1{
	color: #17588e;
	font-size: 60px;
	text-transform: capitalize;
}
#offers section.wrapper div.right h1 span{
}
#offers section.wrapper div.right p{
	margin: 46px 0;
}
#offers section.wrapper div.right a.button{
	background-color: #17588e;
    padding: 20px 85px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
	border-radius: 6px;
	display: inline-block;
}
#methods{
	padding: 62px 0 61px 0;
}
#methods section.wrapper{
	width: 90%;
    max-width: 1390px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#methods section.wrapper div.left {
	width: 43%;
}
#methods section.wrapper div.left h1{
	color: #17588e;
	font-size: 60px;
	text-transform: capitalize;
}
#methods section.wrapper div.left p{
	margin-top: 46px;
}
#methods section.wrapper{
	display: flex;
	justify-content: space-between;
	
	width: 90%;
    max-width: 1390px;
    margin: 0 auto;
}
#methods section.wrapper div.right{
	width: 50%;
    display: flex;
    justify-content: space-between;
}
#methods section.wrapper div.right div.column1{
    position: relative;
    width: 31%;
    top: 62px;
}
#methods section.wrapper div.right div.column1 ul li{
	margin-bottom: 20px;
	box-shadow: -12px 30px 40px -8px rgba(184,184,184,1);
}
#methods section.wrapper div.right div.column1 ul li:last-child{
	margin-bottom: 0;
}
#methods section.wrapper div.right div.column1 ul li img{
	display: block;
	width: 100%;
}
#methods section.wrapper div.right div.column2{
	position: relative;
    width: 31%;
}
#methods section.wrapper div.right div.column2 ul li{
	margin-bottom: 20px;
	box-shadow: -12px 30px 40px -8px rgba(184,184,184,1);
}
#methods section.wrapper div.right div.column2 ul li:last-child{
	margin-bottom: 0;
}
#methods section.wrapper div.right div.column2 ul li img{
	display: block;
	width: 100%;
}
#methods section.wrapper div.right div.column3{
	width: 31%;
    position: relative;
    top: 60px;
}
#methods section.wrapper div.right div.column3 ul li{
	margin-bottom: 20px;
	box-shadow: -12px 30px 40px -8px rgba(184,184,184,1);
}
#methods section.wrapper div.right div.column3 ul li:last-child{
	margin-bottom: 0;
}
#methods section.wrapper div.right div.column3 ul li img{
	display: block;
	width: 100%;
}
#methods section.wrapper div.right div.right div.column ul li img{
	display: block;
	width: 100%;
}
#teams{
	text-align: center;
	padding-top: 100px;
}
#teams div.top h1{
	color: #17588e;
	font-size: 60px;
	text-transform: capitalize;
}
#teams div.top p{
	margin: 46px 0;
}
#teams div.bottom{
	background: url('../images/team-bg.png') no-repeat center center;
	background-size: cover;
	height: 650px;
	display: flex;
	position: relative;
}
#teams div.bottom ul li a{
}
#teams div.bottom ul li:hover a div.box{
	transform: scale(1.5)
}
#teams div.bottom ul li:hover a div.arrow-down{
	transform: scale(1.5)
}
#teams div.bottom ul li a div.box{
	background: #17588e;
	height: 30px;
	color: #ffffff;
	border-radius: 6px;
	width: 95px;
	font-family: 'product_sansregular';
	position: absolute;
	top: 0;
	transform: scale(0);
	/* transition: .4s ease; */
	display: flex;
	align-items: center;
	font-size: 13px;
	justify-content: center;
}
#teams div.bottom ul li a div.arrow-down {
	width: 0; 
	height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #17588e;
	position: absolute;
	transform: scale(0);
	top: -11px;
    right: 47px;
  }
#teams div.bottom ul li.one div.box{
	top: -50px;
    left: 17px;
}
#teams div.bottom ul li.two div.box{
    top: -48px;
    left: 16px;
}
#teams div.bottom ul li.three div.box{
	top: -50px;
    left: 15px;
}
#teams div.bottom ul li.four div.box{
	top: -50px;
    left: 22px;
}
#teams div.bottom ul li.five div.box{
    left: 23px;
    top: -50px;
}
#teams div.bottom ul li.six div.box{
	left: 21px;
    top: -50px;
}
#teams div.bottom ul li.seven div.box{
	left: 18px;
    top: -50px;
}
#teams div.bottom ul li.eight div.box{
	left: 20px;
    top: -50px;
}
#teams div.bottom ul li.nine div.box{
	right: -1px;
    top: -49px
}
#teams div.bottom ul li.one{
	position: absolute;
	top: 0;
	left: 470px;
}
#teams div.bottom ul li.two{
	position: absolute;
	top: 195px;
	left: 850px;
}
#teams div.bottom ul li.three{
	position: absolute;
    top: 0;
    left: 1175px;
}
#teams div.bottom ul li.four{
	position: absolute;
    top: 115px;
    left: 220px;
}
#teams div.bottom ul li.five{
    position: absolute;
    left: 461px;
    top: 247px;
}
#teams div.bottom ul li.six{
	position: absolute;
	left: 293px;
    top: 449px;
}
#teams div.bottom ul li.seven{
    position: absolute;
	bottom: 22px;
    left: 666px;
}
#teams div.bottom ul li.eight{
	position: absolute;
    left: 1101px;
    top: 388px;
}
#teams div.bottom ul li.nine{
    position: absolute;
    right: 226px;
    top: 224px;
}
#teams div.bottom ul li a  div.container{
	width: 115px;
	box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
	border-radius: 50%;
}
#teams div.bottom ul li a  div.container img{
	display: block;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #fff;
}
#partners {
    padding-top: 148px;
    text-align: center;
    background: url(../images/Group\ 100x19.png) no-repeat center center;
    background-size: cover;
    background-position-x: -560px;
	height: 694px;
}
#partners section.wrapper{
	width: 90%;
    max-width: 1560px;
    margin: 0 auto;
}
#partners section.wrapper div.top{
}
#partners section.wrapper div.top h1{
	color: #17588e;
	font-size: 60px;
	text-transform: capitalize;
}
#partners section.wrapper div.top p{
	margin: 46px 0;
}
#partners section.wrapper div.middle div.slide{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#partners section.wrapper div.middle div.slide div.item{
	box-shadow: none;
	box-sizing: border-box;
	background-color: #fff;
	padding: 64px 26px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;

}
#partners section.wrapper div.middle div.slide div.item div.container{
	width: 60%;
}
#partners section.wrapper div.middle div.slide div.item div.container img{
	width: 100%;
	display: block;
}
#partners section.wrapper div.middle div.slide div.item p{
	margin: 42px 0;
}
#partners section.wrapper div.middle div.slide div.item a.button{
	background-color: #17588e;
	padding: 20px 28px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
    display: inline-block;	
}
#partners section.wrapper div.middle div.slide div.item a.button i{
	font-size: 16px;
}
#partners section.wrapper div.middle{
	position: relative;
}
.owl-carousel .owl-nav{
	display: flex;
	justify-content: space-between;
}
.owl-carousel .owl-nav button.owl-prev{
	background:0 0;
	color:inherit;
	border:none;
	padding:0!important;
    position: absolute;
    top: 35%;
	left: -30px;
	font-size: 30px;
	margin-left: 15px;
}
.owl-carousel .owl-nav button.owl-next{
	background:0 0;
	color:inherit;
	border:none;
	padding:0!important;
    position: absolute;
    top: 35%;
	right: -13px;
	font-size: 30px;
}

.owl-dot {
    display: inline-block;
    margin: 10px 4px 4px 4px;
}
.owl-dots .owl-dot span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
	background: #007bff;
	opacity: .7;
}
.owl-dots .owl-dot.active span {
	background: #007bff;
	width: 50px;
	border-radius: 20px;
	opacity: 1;
}

#contact{
	padding: 430px 142px 111px 0;
}
#contact section.wrapper{
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}
#contact section.wrapper div.left{
	background-color: #17588e;
    z-index: 10;
	padding: 150px 0 150px 132px;
    position: relative;
    width: 32%;
}
#contact section.wrapper div.left h1{
	color: #fff;
	font-size: 60px;
	text-transform: capitalize;
	margin-bottom: 30px;
}
#contact section.wrapper div.left div.items div.item {
    margin-bottom: 30px;
    display: flex;
}
#contact section.wrapper div.left div.items div.item :last-child{
	margin-bottom: 0;
}
#contact section.wrapper div.left div.items div.item i{
	margin-right: 25px;
	color: #d8d8da;
	font-size: 25px;
}
#contact section.wrapper div.left div.items div.item span {
	color: #d8d8da;
	font-size: 22px;
}
#contact section.wrapper div.left div.items div.item span a{
	color: #d8d8da;
}
#contact section.wrapper span.rectangle{
	height: 889px;
    width: 460px;
    background-color: rgb(85, 154, 213);
    display: block;
    position: absolute;
    left: -132px;
}
#contact section.wrapper div.left div.container{
	position: absolute;
    top: -26px;
    right: -24px;
}
#contact section.wrapper div.left div.container img{
	width: 100%;
	display: block;
}
#contact section.wrapper div.right{
	width: 36%;
	position: relative;
}
#contact section.wrapper div.right div.top h1{
	color: #17588e;
	font-size: 60px;
	text-transform: capitalize;
}
#contact section.wrapper div.right div.top p{
	margin: 43px 0;
}
#contact section.wrapper div.right div.container{
	position: absolute;
    top: -11px;
    left: -31px;
}
#contact section.wrapper div.right div.container img{
	width: 100%;
	display: block;
}
#contact section.wrapper div.right div.bottom form input{
	border-bottom: 1px solid #8e8e8e;
	height: 100px;
	width: 100%;
	font-size: 25px;
	margin-bottom: 12px;
}
#contact section.wrapper div.right div.bottom form p.message input{
	margin-bottom: 0;
}
#contact section.wrapper div.right div.bottom form .submit{
	border-bottom: none;
	background-color: #17588e;
	margin-bottom: 0;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
	display: inline-block;
	height: 65px;
	margin-top: 55px;
	cursor: pointer;
}
::placeholder{
	font-size: 25px;
}
footer{
	background-color: #276395;
	padding-top: 100px;
}
footer section.wrapper{
	width: 90%;
	max-width: 1560px;
    margin: 0 auto;
}
footer section.wrapper div.top{
	border-bottom: 1px solid #e2ffff;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-between;
}
footer section.wrapper div.top div.left{
	width: 50%;
}
footer section.wrapper div.top div.left div.item h4{
	color: #fff;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 35px;
}
footer section.wrapper div.top div.left div.item p{
	color: #cedbe4;
	max-width: 445px;
}
footer section.wrapper div.top div.right{
	display: flex;
	justify-content: space-between;
}
footer section.wrapper div.top div.right div.links{
	width: 25%;
}
footer section.wrapper div.top div.right div.links ul li{
	margin-bottom: 30px;
}
footer section.wrapper div.top div.right div.links ul li:last-child{
	margin-bottom: 0;
}
footer section.wrapper div.top div.right div.links ul li a{
	color: #cedbe4;
	text-transform: capitalize;
}
footer section.wrapper div.top div.right div.follow{
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 30%;
}
footer section.wrapper div.top div.right h4 {
	color: #fff;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 35px;
}
footer section.wrapper div.top div.right div.follow ul{
	display: flex;
	margin-bottom: 45px;
}
footer section.wrapper div.top div.right div.follow ul li{
	margin-right: 35px;
}
footer section.wrapper div.top div.right div.follow ul li:last-child{
	margin-right: 0;
}
footer section.wrapper div.top div.right div.follow ul li a img{
	width: 100%;
	display: block;
}
footer section.wrapper div.top div.right div.follow h1 a img{
	width: 100%;
	display: block;
}
footer section.wrapper div.bottom{
	text-align: center;
	padding: 20px 0;
}
footer section.wrapper div.bottom p{
	font-size: 20px;
	color: #cedbe4;
}
 
@media all and (max-width: 1980px){
	header nav.mobile-menu,  span.close-icon, span.menu-icon{
		display: none;
	}
	#teams div.bottom ul li a p{
		display: none;
	}

}
@media all and (max-width: 1280px){
	header section.wrapper nav.right{
		display: none;
	}
	header span.menu-icon{
		display: block;
		float: right;
		width: 32px;
		height: 32px;
		cursor: pointer;
		top: 56px;
		position: absolute;
		right: 45px;
		color: #000000;
	}
	header span.menu-icon img{
		display: block;
		width: 100%;
	}
	header span.close-icon{
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 55;
		right: 45px;
		top: 56px;
	}
	header span.close-icon img{
		width: 100%;
		display: block;
	}
	header nav.mobile-menu{
		background-color: #276395;
		position: absolute;
		width: 100%;
		height: 165%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		padding-top: 40px; 
	}
	header nav.mobile-menu ul li{
		margin-bottom: 30px;
		text-align: center;
	}
	header nav.mobile-menu ul li:last-child{
		margin-bottom: 0;
	}
	header nav.mobile-menu ul li a{
		font-family: 'product_sansregular';
		font-size: 23px;
		text-transform: capitalize;
		color: #ffffff;
		font-weight: bold;	
	}
	#services section.wrapper ul li {
		border-right: none;
	}
	#services section.wrapper ul {
		justify-content: center;
		height: 230px;
	}
	#services section.wrapper ul li{
		width: 33%;
	}
	#teams div.bottom ul li.one {
		left: 326px;
	}
	#teams div.bottom ul li.two {
		left: 578px;
	}
	#teams div.bottom ul li.three {
		left: 813px;
	}
	#teams div.bottom ul li.four {
		left: 87px;
	}
	#teams div.bottom ul li.five {
		left: 324px;
	}
	#teams div.bottom ul li.six {
		left: 87px;
	}
	#teams div.bottom ul li.seven {
		left: 436px;
	}
	#teams div.bottom ul li.eight {
		left: 773px;
	}
	#teams div.bottom ul li.nine {
		right: 104px;
	}
	#contact{
		padding: 248px 142px 71px 0;
	}
	#contact section.wrapper span.rectangle {
		height: 808px
	}
}
@media all and (max-width: 980px){
	#income section.wrapper {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	#income section.wrapper div.left{
		width: 100%;
	}
	#income section.wrapper div.right{
		width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
	}
	#methods section.wrapper div.left h1 {
		font-size: 50px;
	}
	#methods section.wrapper div.left p {
		margin-top: 30px;
	}
	#teams div.bottom ul li:hover a div.box{
		transform: scale(0)
	}
	#teams div.bottom {
		position: static;
	}
	#teams div.bottom ul{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	#teams div.bottom ul li a p{
		display: block;
		font-size: 19px;
		color:#17588e;
		margin-top: 13px;
	}
	#teams div.bottom ul li.one{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.two{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.three{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.four{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.five{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.six{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.seven{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.eight{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#teams div.bottom ul li.nine{
		position: static;
		width: 30%;
		display: flex;
    	justify-content: center;
	}
	#contact section.wrapper {
		flex-wrap: wrap;
	}
	#contact {
		padding: 248px 20px 71px 0px;
	}
	#contact section.wrapper div.left{
		width: 100%;
		margin-bottom: 92px;
	}
	#contact section.wrapper div.right{
		width: 100%;
		padding-left: 20px;
	}
	#contact section.wrapper span.rectangle {
		height: 741px;
		top: -62px;
	}
	#contact section.wrapper div.right div.container {
		left: 3px;
	}
	footer section.wrapper div.top div.left div.item p {
		max-width: 250px;
	}
	footer section.wrapper div.top div.left div.item h4 {
		font-size: 28px;
	}
	footer section.wrapper div.top div.right div.links h4 {
		font-size: 28px;
	}
	footer section.wrapper div.top div.right div.follow h4 {
		font-size: 28px;
	}
}
@media all and (max-width: 768px){
	#home div.overlay section.wrapper div.content h1 {
		font-size: 50px;
	}
	#services section.wrapper ul {
		height: 320px;
	}
	#services section.wrapper ul li {
		width: 50%;
	}
	#services section.wrapper ul li a h4 {
		font-size: 22px;
	}
	#income section.wrapper div.left h1 {
		font-size: 50px;
	}
	#income section.wrapper div.left p {
		margin: 30px 0;
	}
	#offers section.wrapper div.right h1 {
		font-size: 50px;
	}
	#offers section.wrapper{
		flex-wrap: wrap;
		justify-content: center;
	}
	#offers section.wrapper div.left{
		width: 60%;
		margin-bottom: 30px;
		margin-right: 0;
	}
	#offers section.wrapper div.right{
		width: 100%;
		text-align: left;
	}
	#offers section.wrapper div.right p{
		margin: 30px 0;
	}
	#methods {
		padding-top: 54px;
	}
	#methods section.wrapper {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	#methods section.wrapper div.left{
		width: 100%;
		margin-top: 45px;
	}
	#methods section.wrapper div.right{
		width: 100%;
		position: static;
	}
	#methods section.wrapper div.right div.column1{
		position: static;
	}
	#methods section.wrapper div.right div.column2{
		position: static;
	}
	#methods section.wrapper div.right div.column3 {
		position: static;
	}
	#teams {
		padding-top: 40px;
	}
	#teams div.top h1 {
		font-size: 50px;
	}
	#teams div.top p {
		margin: 30px 0;
		padding: 0 20px;
	}
	#partners section.wrapper div.top h1 {
		font-size: 50px;
	}
	#partners section.wrapper div.top p {
		margin: 30px 0;
	}
	#partners section.wrapper div.middle div.slide div.item p {
		margin: 30px 0;
		font-size: 20px;
	}
	#partners section.wrapper div.middle div.slide div.item a.button {
		padding: 12px 17px;
	}
	#contact section.wrapper div.left {
		margin-bottom: 105px;
	}
	#contact section.wrapper div.left h1 {
		font-size: 50px;
	}
	#contact section.wrapper div.right div.top h1 {
		font-size: 50px;
	}
	#contact section.wrapper div.left div.items div.item span {
		font-size: 20px;
	}
	#contact section.wrapper div.left div.items div.item span a{
		font-size: 20px;
	}
	#contact section.wrapper div.left div.items div.item i {
		font-size: 20px;
	}
	#contact section.wrapper div.right div.top p {
		margin: 30px 0 10px 0;
	}
	#contact section.wrapper div.right div.bottom form input {
		height: 72px;
	}
	footer section.wrapper div.top{
		flex-wrap: wrap;

	}
	footer section.wrapper div.top div.left{
		width: 100%;
	}
	footer section.wrapper div.top div.left div.item{
		width: 100%;
		margin-bottom: 30px;	
	}
	footer section.wrapper div.top div.right{
		flex-wrap: wrap;
	}
	footer section.wrapper div.top div.right div.links{
		width: 100%;
		margin-bottom: 30px;	
	}
	footer section.wrapper div.top div.right div.follow{
		width: 35%;
		display: flex;
		align-items: end;	
	}
}
@media all and (max-width: 640px){
	header section.wrapper h1.left{
		width: 60%;
	}
	#home div.overlay {
		padding: 102px 0;
	}
	header nav.mobile-menu {
		height: 194%;
	}
	#home div.overlay section.wrapper div.content h1 {
		font-size: 40px;
	}
	#home div.overlay section.wrapper div.content p {
		font-size: 20px;
	}
	#services section.wrapper ul {
		padding-left: 30px;
	}
	#income section.wrapper div.left h1 {
		font-size: 40px;
	}
	#income section.wrapper div.left p {
		font-size: 20px;
	}
	#offers section.wrapper div.right h1 {
		font-size: 40px;
	}
	#offers section.wrapper div.right p {
		font-size: 20px;
	}
	#methods section.wrapper div.left h1 {
		font-size: 40px;
	}
	#methods section.wrapper div.left p {
		font-size: 20px;
	}
	#teams div.top h1 {
		font-size: 40px;
	}
	#teams div.top p {
		font-size: 16px;
	}
	#teams div.bottom {
		height: 500px;
	}
	#partners {
		padding-top: 82px;
	}
	#partners section.wrapper div.top h1 {
		font-size: 40px;
	}
	#partners section.wrapper div.top p {
		font-size: 20px;
	}
	#contact {
		padding: 149px 20px 71px 0px;
	}
	#contact section.wrapper div.left h1 {
		font-size: 40px;
	}
	#contact section.wrapper div.right div.top h1 {
		font-size: 40px;
	}
	#contact section.wrapper div.right div.top p {
		font-size: 20px;
	}
	::placeholder{
		font-size: 20px;
	}
	footer section.wrapper div.top div.right div.follow ul h1{
		width: 116%;
	}
	footer section.wrapper div.bottom p {
		font-size: 18px;
	}
}
@media all and (max-width: 480px){
	header nav.mobile-menu {
		height: 95%;
	}
	header span.menu-icon {
		top: 46px;
	}
	header span.close-icon {
		top: 46px;
	}
	#home div.overlay section.wrapper div.content h1 {
		font-size: 30px;
	}
	#home div.overlay section.wrapper div.content p {
		font-size: 17px;
	}
	#home div.overlay section.wrapper div.content a.button {
		padding: 13px 31px;
	}
	#services section.wrapper ul{
		padding-left: 30px;
		height: 512px;
	}
	#services section.wrapper ul li {
		width: 100%;
	}
	#income section.wrapper div.left h1 {
		font-size: 30px;
	}
	#income section.wrapper div.left p {
		font-size: 17px;
	}
	#offers section.wrapper div.right h1 {
		font-size: 30px;
	}
	#offers section.wrapper div.right p {
		font-size: 17px;
	}
	#offers section.wrapper div.right a.button {
		padding: 20px 67px;
	}
	#methods section.wrapper div.left h1 {
		font-size: 30px;
	}
	#methods section.wrapper div.left p {
		font-size: 17px;
	}
	#methods section.wrapper div.right{
		flex-wrap: wrap;
		justify-content: center;
	}
	#methods section.wrapper div.right div.column1 {
		width: 46%;
		margin-right: 20px;
	}
	#methods section.wrapper div.right div.column2 {
		width: 46%;
	}
	#methods section.wrapper div.right div.column3 {
		width: 100%;
		margin-top: 20px;
	}
	#methods section.wrapper div.right div.column3 ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	#methods section.wrapper div.right div.column3 ul li {
		margin-bottom: 0;
		width: 48%;
	}
	#teams div.top h1 {
		font-size: 30px;
	}
	#teams div.top p {
		font-size: 17px;
	}
	#teams div.bottom {
		height: 1124px;
	}
	#teams div.bottom ul li.one{
		width: 50%;
	}
	#teams div.bottom ul li.two{
		width: 50%;
	}
	#teams div.bottom ul li.three{
		width: 50%;
	}
	#teams div.bottom ul li.four{
		width: 50%;
	}
	#teams div.bottom ul li.five{
		width: 50%;
	}
	#teams div.bottom ul li.six{
		width: 50%;
	}
	#teams div.bottom ul li.seven{
		width: 50%;
	}
	#teams div.bottom ul li.eight{
		width: 50%;
	}
	#teams div.bottom ul li.nine{
		width: 50%;
	}
	#partners section.wrapper div.top h1 {
		font-size: 30px;
	}
	#partners section.wrapper div.top p {
		font-size: 17px;
	}
	#contact section.wrapper div.left div.container {
		display: none;
	}
	#contact section.wrapper div.left h1 {
		font-size: 30px;
	}
	#contact section.wrapper div.right {
		padding-top: 30px;
	}
	#contact section.wrapper div.right div.top h1 {
		font-size: 30px;
		
	}
	#contact section.wrapper div.right div.container {
		left: 5px;
		top: 20px;
	}
	#contact section.wrapper div.right div.top p {
		font-size: 17px;
	}
	#contact section.wrapper div.left {
		padding: 150px 0 150px 55px
	}
	footer section.wrapper div.top div.left div.item p {
		max-width: none;
	}
	footer section.wrapper div.top div.right div.follow {
		width: 44%;
	}
	footer section.wrapper div.top div.right div.follow h1{
		width: 177px;
	}
	footer section.wrapper div.bottom p {
		font-size: 15px;
	}
	footer section.wrapper div.top div.right div.links ul li a {
		font-size: 18px;
	}
}
@media all and (max-width: 360px){
	#partners {
		padding-top: 61px;
	}
	#contact section.wrapper span.rectangle {
		width: 318px;
		height: 690px;
	}
	#contact section.wrapper div.left {
		padding: 130px 0 130px 29px;
	}
	footer section.wrapper div.top div.left div.item p {
		font-size: 20px;
	}
}
@media all and (max-width: 320px){
	#contact {
		padding: 179px 1px 71px 0px;
	}
	#contact section.wrapper div.right {
		padding: 0 20px 0 20px;
	}
}