    /*
    Flaticon icon font: Flaticon
    Creation date: 11/09/2020 18:36
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-circle:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
    
    $font-Flaticon-circle: "\f100";
    $font-Flaticon-pin: "\f101";
    $font-Flaticon-email: "\f102";
    $font-Flaticon-phone-call: "\f103";
    $font-Flaticon-clock: "\f104";
    $font-Flaticon-down-arrow: "\f105";
    $font-Flaticon-right-arrow: "\f106";